/* QuestionList.css */

.question-list-container {
  text-align: center;
  margin-top: 50px;
}

header {
  background-color: #007bff;
  padding: 20px;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
  background-color: #bcdafa;
}

nav li {
  margin: 0 10px;
}

.custom-form {
  margin-top: 20px;
}

.custom-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.modal-dialog {
  max-width: 500px;
}

.modal-body {
  text-align: left;
}

.modal-footer {
  justify-content: space-between;
}

button {
  background-color: #007bff;
  margin-right: 10px;
  padding: 10px;
  color: white;
  border: none; 
}

#cyber_ID.ControlInput1,
#cyber_Name.ControlInput1 {
  text-align: left;
}

/* src/css/QuestionList.css */

/* Windows 스타일의 Form.Control 스타일 */
.windows-style-input {
  border-radius: 0; /* 모서리를 둥글게 하지 않음 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  padding: 8px; /* 내부 여백 조절 */
  width: 100%; /* 전체 너비 사용 */
}
