/* src/css/QuestionList.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.question-list-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

header {
  text-align: center;
}

nav {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 5px;
}

nav a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.custom-form {
  text-align: left;
}

.custom-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.custom-form textarea {
  width: 100%;
}

/* src/css/QuestionList.css */
/* ... 이전 스타일들 ... */

button {
  background-color: #66a3ff; /* 연한 파란색 */
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* 각 버튼 사이의 간격 조절 */
}

button:hover {
  background-color: #3385ff; /* 더 진한 파란색 */
}

